# Feature Engineering
- Age Category
- BMI Category - Underweight, normal Weight, Overweight, Obesity
- Pollution Risk - Location and Air Pollution level
- Smoking Status Encoding
- Interaction Features 
- Location Encoding

In [14]:
# import the libraries needed
import pandas as pd
import numpy as np

In [15]:
# load the data
path =r"/Users/aayushrimal/Documents/omdena/COPD/Data/synthetic_COPD_data.csv"
df=pd.read_csv(path)
df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0

In [16]:
# Age categories
df['Age_Category'] = pd.cut(df['Age'], bins=[29, 39, 49, 59, 69, 79], labels = ['30 - 39', '40 - 49', '50 - 59', '60 - 69', '70 - 79'])

df['BMI_Categories'] = pd.cut(df['BMI'], bins = [0, 18.5, 24.5, 29.9, 35], labels= ['Underweight', 'Normal Weight', 'Overweight', 'Obessity'])

In [17]:

# Pollution Risk Score
df['Pollution_Risk_Score'] = np.where(df['Air_Pollution_Level'] > 150, 1, 0)

# Encode smoking status
df['Smoking_Status_encoded'] = df['Smoking_Status'].map({'Current': 1, 'Former': 0.5, 'Never': 0})

# encode gender
df['Gender_'] = df['Gender'].map({'Male': 1, 'Female':0})


# Interaction Features - Smoking status and pollution level
df['Smoking_Pollution_interaction'] = df['Smoking_Status_encoded'] * df['Air_Pollution_Level']

In [18]:
# One hot encoding for the location
df = df.drop(columns=['Location'])
# df = pd.get_dummies(df, columns=['Location'], drop_first=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               1000 non-null   int64
 1   Gender                            1000 non-null   object
 2   Smoking_Status                    1000 non-null   object
 3   Biomass_Fuel_Exposure             1000 non-null   int64
 4   Occupational_Exposure             1000 non-null   int64
 5   Family_History_COPD               1000 non-null   int64
 6   BMI                               1000 non-null   float64
 7   Air_Pollution_Level               1000 non-null   int64
 8   Respiratory_Infections_Childhood  1000 non-null   int64
 9   COPD_Diagnosis                    1000 non-null   int64
 10  Age_Category                      980 non-null    category
 11  BMI_Categories                    1000 non-null   category
 12  Pollution_Risk_Score              1000 non-null   int64
 13  Smoking_Status_encoded            1000 non-null   float64
 14  Gender_                           1000 non-null   int64
 15  Smoking_Pollution_interaction     1000 non-null   float64
dtypes: category(2), float64(3), int64(9), object(2)
memory usage: 111.9+ KB

# Machine Learning Data

In [20]:
df = df.drop(columns=['Smoking_Status', 'Age_Category', 'Pollution_Risk_Score', 'BMI_Categories', 'Gender',  'Smoking_Pollution_interaction'])

In [23]:
df.to_csv('engineered_COPD_data.csv', index=False)

In [22]:
df.head()

,Age,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Smoking_Status_encoded,Gender_
0,31,1,1,1,27.56,84,0,0,0.5,1
1,60,1,0,0,30.30,131,1,0,0.0,1
2,33,0,0,1,28.45,123,1,0,0.5,1
3,36,1,0,0,27.49,253,0,1,1.0,0
4,58,0,0,0,25.49,117,1,0,0.0,1